<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40927905469-hm1mdr8s9uap0o3vd8dl834ec6crji3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40927905469-hm1mdr8s9uap0o3vd8dl834ec6crji3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDXh3dABN6tfnDOouwQ8-9NdvRQmAIhrCU</string>
	<key>GCM_SENDER_ID</key>
	<string>40927905469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Appitt.CharityMarket</string>
	<key>PROJECT_ID</key>
	<string>jpmc4g-18</string>
	<key>STORAGE_BUCKET</key>
	<string>jpmc4g-18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40927905469:ios:b2ab7ca2c544fae0</string>
	<key>DATABASE_URL</key>
	<string>https://jpmc4g-18.firebaseio.com</string>
</dict>
</plist>